html, body {
    height: 100%;
}
body {
	font-family: Arial Black, sans-serif;
    text-align: center;
    overflow: hidden; /* to disable mobile scroll on swipe*/
	justify-content: center;
    display: flex;
}
#field {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	background-color: black;
	background-image: radial-gradient(black, #f4f4f8);
	grid-gap: 1px;
	width: 50vmin;
	height: 50vmin;
	font-family: Bradley Hand, cursive;
	box-shadow: 0px 0px 24px 12px #f4f4f8;
}
.cell {
	background-color: #f4f4f8;
	display: flex;
	align-items: center;
	justify-content: center;
	
	font-size: 4.5rem;
}
.red-cell {
	color: #fe4a49;
}
.blue-cell {
	color: #2ab7ca;
}
#buttons {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	margin-top: 1.67em;
}
button {
	font-family: inherit;
	font-size: 1rem;
}
.dropdown {
	position: relative;
}
.dropbtn {
	width: 100%;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 1rem;
	cursor: pointer;
	height: 4em;
}
.dropdown-content {
	width: 100%;
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content button {
	width: 100%;
	background-color: #f4f4f8;
	padding: 12px 16px;
	border: none;
	cursor: pointer;
	text-align: left;
}
.dropdown-content button:hover {
	background-color: #e6e6ea;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.red-button {
	background-color: #fe4a49;
	border-color: #fe4a49;
}
.blue-button {
	background-color: #2ab7ca;
	border-color: #2ab7ca;
}
.yellow-button {
	background-color: #fed766;
	border-color: #fed766;
}
@media only screen and (orientation: portrait) {
	html {
		font-size: 36px;
	}
    #field {
		width: 85vmin;
        height: 85vmin;
	}
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
	body {
		margin: 0px;
	}
	html {
		font-size: 22px;
	}
	.container {
		width: 100vw;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
	#info {
		display: grid;
		width: 80%;
	}
	#buttons {
		display: block;
	}
    #field {
		width: 95vmin;
        height: 95vmin;
		margin-top: 2.5vmin;
	}
}