html, body {
    height: 100%;
}
body {
    text-align: center;
    font-family: Arial Narrow, sans-serif;
    overflow: hidden; /* to disable mobile scroll on swipe*/
}
.container {
    width: 100%;
}
#field {
    width: 90vmin;
    height: 90vmin;
    margin: auto;
    font-size: 0px;
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 0.75px));
    grid-template-rows: repeat(3, calc(33% - 0.75px));
    grid-gap: 1px;
    font-size: 60px;
}
.row {
    padding: 2px;
}
.cell {
    background: #ffffff;
    text-align: center;
    border: 1px solid black;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


/* Style The Dropdown Button */
.dropbtn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content button {
    width: 100%;
    background-color: #f9f9f9;
    color: black;
    padding: 12px 16px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: left;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  #buttons {
      width: 90vmin;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, calc(33% - 0.75px));
      grid-gap: 1px;
  }

  @media only screen and (orientation: portrait){
    .dropbtn{
        height: 10vmin;
        font-size: 32px;
    }
    .dropdown-content button {
        font-size: 32px;
    }
  }

@media only screen and (orientation: landscape) {
    #field {
        width: 50vmin;
        height: 50vmin;
        font-size: 35px;
    }
    .dropbtn{
        padding: 10px;
        height: 6vmin;
        font-size: 10px;
    }
    .dropdown-content button {
        padding: 10px;
        height: 6vmin;
        font-size: 10px;
    }
}

@media only screen and (min-width:992px) {
    .container {
        width: 50vh;
        margin: auto;
    }
    #field {
        width: 50vmin;
        height: 50vmin;
        font-size: 80px;
    }
    #buttons {
        width: 50vmin;
    }
}