<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Tic-Tac-Toe Game with Self-Learning Bot</title>
    <script src="static/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
		<div id="info">
			<div id="buttons">
				<div class="dropdown">
					<button class="dropbtn yellow-button" id="lvl_button">Medium</button>
					<div class="dropdown-content">
					  <button class="lvl">Easy</button>
					  <button class="lvl">Medium</button>
					  <button class="lvl">Hard</button>
					  <button class="lvl">Impossible</button>
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn red-button" id="player_button">O-man</button>
					<div class="dropdown-content">
					  <button class="player">X-man</button>
					  <button class="player">O-man</button>
					  <button class="player">Random</button>
					</div>
				</div>
				<button class="dropbtn yellow-button" id="new_game">New game</button>
			</div>
			<h1>
				<div id="header">Your turn</div>
			</h1>
		</div>
        <div id="field">
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
            <div class="cell"> </div>
        </div>
    </div>
</body>
</html>  